.menu-list {
    width: 230px;

    .menu-item {
        margin-left: 0px;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-item {
    font-weight: 600;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 8px 10px 16px;
    border: none;
    border-radius: 0;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
