.menu-list {
    width: 230px;

    .menu-item {
        margin-left: 0px;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

// Menu items
.menu-item {
    font-weight: 600;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 8px 10px 16px;
    border: none;
    border-radius: 0;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

// Header
.header {
    height: 50px;
    position: relative;
    margin-top: -8px;
}

.back-btn {
    min-width: 0;
    width: 50px;
    height: 100%;
    border: none;

    &:hover {
        background: transparent;
    }
}

.back-icon {
    margin-left: 28px;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
